body {
    margin: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
}

#page {
    display: flex;
    height: 100%;
    position: relative;
}

#side-panel {
    width: 280px;
    height:100%;
    /* background-color: rgb(250, 240, 240); */
    background-color: #262626;
    padding-left: 16px; 
    padding-right: 16px;
    
}

#side-panel-header {
    display: flex;
    align-items: center;
    padding-top: 5px;
    
}

#side-panel-header-username {
    padding-left: 10px;
}

button {
    background: none;
    padding: 0;
    border: none;
}

#side-panel-btns-container {
    display: flex;
    flex-direction: column;
}

.side-panel-btn {
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    font-size: 18px;
}

.side-panel-btn:hover {
    background-color: #322f2a;
    cursor: pointer;
    /* background-color: #472525; */
}

.side-panel-btn-label {
    padding-left: 10px;
}

#profile-pic {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    /* object-fit: contain; */
    border: solid #de4c4a 2px;
    padding: 2px;
}

#content {
    width: 100%;
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: solid black 2px; */
}

/* .checkbox {
    border: solid grey 1px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.checkbox:hover {
    cursor: pointer;
} */
.unchecked {
    opacity: 1;
    position: absolute;
}

.checked {
    opacity: 0;
}

.check-btn:hover .unchecked{
    opacity: 0;
    cursor: pointer;
}
.check-btn:hover .checked{
    opacity: 1;
}

.content-title {
    margin-top: 0px;
    margin-bottom: 5px;
}

.list-div {
    border: solid grey 2px;
}

#list-item-container {
    width: 750px;
}

#list-item-container h2 {
    padding-bottom: 20px;
    font-size: 26px;
}

.list-item {
    display: flex;
    align-items: center;
    width: 750px;
}

.list-item-text {
    padding-left: 10px;
}

.list-item-title {
    margin-bottom: 0px;
    /* color: #ffffff; */
    font-size: 18px;
}

.list-item-description{
    color: #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    
}

.date {
    font-size: 16px;
    margin: 0px;
    
}

.date-container {
    display: flex;
    align-items: center;
    margin-left: -2px; /* to align nicely with description and title */
    margin-top: 5px;
    
    
}

.due-today{
    color: #25B84C;
}

.due-tomorrow{
    color: #ff9a14;
}

.due-late{
    color: #ff7066;
}

#add-task-btn {
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-right: 30px;
    width: 750px;
}

#add-task-btn:hover {
    cursor: pointer;
}

#add-task-btn:hover .add-task-unhover{
    opacity: 0;
}

#add-task-btn:hover .add-task-hover{
    opacity: 1;
}

.add-task-unhover {
    position: absolute;
}

.add-task-hover{ 
    opacity: 0;
    /* width: 24px; */
    /* height: 24px; */
}

#add-task-btn p {
    padding-left: 5px;
    color: #808080;
}

#add-task-btn:hover p {
    color: #de4c4a;
}



dialog {
    background-color: #262626;
    border: solid grey 1px;
    border-radius: 10px;
    top: 15%;
    width: 500px;
}

input {
    border:none;
    padding: 5px;
    background-color: #1e1e1e;
    color: #FFFFFF;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #FFFFFF;
}



#add-task-window {
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    
    /* padding: 10px; */
}

#add-task-form {
    display: flex;
    flex-direction: column;
    border: solid 2px grey;
    border-radius: 5px;
}

#form-task-name {
    font-weight: bolder;
    font-size: 24px;
    /* color: #FFFFFF; */
}

#form-task-description {
    font-size: 17px;
    padding-top:10px;
    padding-bottom:15px;
}

#form-task-date {
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    background-color: white;
    color: black;
}



#form-date-btn{
    display: flex;
    align-items: center;
    border:solid grey 1px;
    width:100px;
    border-radius: 10px;
}

hr {
    border: 1px solid #3d3d3d;
    /* width: 538px; */
}

#add-task-footer {
    display: flex;
    justify-content: space-between;
    
    background-color: #202020;
    /* border: solid 2px grey; */
    padding: 20px;
    border-radius: 5px;
    border-top: solid 2px grey;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#cancel-add-task-btn {
    /* border: solid 2px grey; */
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #292929;
    color: #e4e4e4;
}

#cancel-add-task-btn:hover {
    cursor: pointer;
    background-color: #3d3d3d;
    color: #e4e4e4;
}

#submit-add-task-btn {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #de4c4a;
    color: #e4e4e4;
}

#submit-add-task-btn:hover {
    cursor: pointer;
    background-color: #e36564;
    color: #e4e4e4;
}

#add-task-dialog {
    background-color: #1e1e1e;
    padding: 0px;
    border: 0px;
}

#add-task-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}